<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
      
    <h3>Product {{product['id']}}</h3>
      <form action="/products/update/{{product['id']}}" method="post">
          Name:<input type="text" name="name" value="{{product['name']}}"><br>
          Description: <input type="text" name="description" value="{{product['description']}}"><br>
          Price :<input type="text" name="price" value="{{product['price']}}"><br>
          <input type="submit" value="Update">
      </form><br>
      <a href="/product/show/{{product['id']}}">show</a>
      <a href="/">Back</a>
  </body>
</html>
    